.notes {
    display: flex;
    flex-direction: column;
}

.notes_item {
    width: 100px;
    min-height: 50px;
    background-color: gray;
    margin: 10px;
    border: 1px solid darkgray;
    border-radius: 5px;
    padding: 3px;
}

.note_item_date {
    background-color: #4ac1f7;
    text-align: center;
    margin-bottom: 5px;
}

.note_item_text {
    color: white;
}