 <!-- notes/templates/notes/index.html -->
{% extends 'notes/base.html' %}
 {% block title%} Main Page{% endblock%}
<!-- MAIN-->
{% block content%}
    <h2>{{page_title}}</h2>

   <form action="{% if note %}
                      {% url 'notes:edit_note' pk=note.pk %}
                  {% else %}
                      {% url 'notes:create_note' %}
                  {% endif %}" method="post">

    {% csrf_token %}
    {{ form }}

    <button type="submit">
            {% if note %}Зберегти зміни{% else %}Створити нотатку{% endif %}
        </button>
</form>

 {% endblock%}
 <!-- MAIN END-->