 <!-- notes/templates/notes/index.html -->
{% extends 'base.html' %}
 {% block title%} Main Page{% endblock%}
<!-- MAIN-->
{% block content%}
    <div class="container">
        <div class="row">
            <h2>{{page_header_title}}</h2>
        </div>
        <div class="row">
            {% for note in notes %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title bg-dark text-info p-2">{{note.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted "><span class="text-warning">CATEGORY:</span> <span class="text-primary"> {% if note.category%}
                        {{note.category}}{% endif %}</span></h6>
                    <h6 class="card-subtitle mb-2 text-muted"><span class="text-danger">AUTHOR:</span>  <span class="text-success">{{note.author.username}}</span></h6>
                    <p class="card-text">{{note.text}}</p>
                    <a href="{% url 'notes:edit_note' pk=note.pk%}" class="card-link">EDIT</a>
                    <a href="{% url 'notes:delete_note' pk=note.pk%}" class="card-link">DELETE</a>
                  </div>
                </div>
            </div>

        {% endfor %}
        </div>

    </div>

 {% endblock%}
 <!-- MAIN END-->