 <!-- notes/templates/notes/index.html -->
{% extends 'notes/base.html' %}
 {% block title%} Main Page{% endblock%}
<!-- MAIN-->
{% block content%}
    <h2>МОЇ НОТАТКИ</h2>
    <div class="notes">

        {% for note in notes %}
            <div class="notes_item">
                <div class="note_item_title">
                    {{note.title}}
                </div>

                <div class="note_item_text">
                    {{note.text}}
                </div>

                <div class="note_item_category">
                    {% if note.category%}
                    {{note.category}}{% endif %}
                </div>

            </div>
        {% endfor %}
    </div>
 {% endblock%}
 <!-- MAIN END-->